:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

*{
    margin: 0px;
    padding: 0px;
       
}

/*logo y botones*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagenes/Fondo3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
    
    .emblema-contenedor {
        width: 100%;
        margin-top: 40px;
        text-align: center;
        
    }

    .emblema {
        width: 280px;
        height: 140px;
        border-radius: 5px;
        margin: auto;
    }
  
    
    .emblema img {
        width: 100%;
        height: 100%;
        
    }

    ul {
        width: 100%;
        margin-top: 38px;
        margin-bottom: 20px;
        text-align: center;
    }

    li {
        list-style: none;
        line-height: 52px;
    }

    a {
        font-size: 2.6em;
        font-weight: bold;
        text-decoration: none;
        color:aliceblue;
        background-color: rgba(128, 128, 128, 0.645);
        text-shadow: 0 0.08em 0.08em black;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
        
    }

    /*Codigo*/

    
    .info-contacto {
        display: block;
        background-color: rgba(128, 128, 128, 0.645);
        text-shadow: 0 0.08em 0.08em black;
        color: white;
        margin-bottom: 30px;
        text-align: center;
        

    }



    .info-fill { 
    
    background-color: rgba(128, 128, 128, 0.645);
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    
    }

    .input-group {
    
     border-radius: 4px;
     margin-bottom: 10px ;
     

    }

    .button{
        width: 100%;
        background-color: rgb(185, 223, 239);
        border: 1px solid black; 
        margin-top: 6px;
        font-size: 1em;
        border-radius: 10px ;
        border-color: black;
    }

    input{
        height: 50px;
        width: 100%;
        border-radius: 5px ;
        text-shadow: 0 0.08em 0.08em black;

    }

    textarea{
        width: 100%;
        text-shadow: 0 0.08em 0.08em black;
        border: 1px solid black;
        border-radius: 5px;
    }

    .footer-contenedor {
        margin-top: 30px;
        text-align: center;
        
    }

    h2 {
        font-size: 16px;
        color: aliceblue;
        
        
        
    }


    /*Adaptativo a tamaño de Pantalla de PC*/

    @media only screen and (min-width: 800px){
        
        .emblema-contenedor {
            width: 100%;
            margin-top: 14px;
        }
    
        .emblema {
            width: 270px;
            height: 150px;
            border-radius: 5px;
            margin-left: 100px;
        }
        
        .nav {
            width: 100%;
        }
    
        .site-nav {
            display: flex;
            justify-content: flex-end;
        }
    
        ul {
            width: 100%;
            margin-top: 0;
            margin-bottom: 26px;
        }
    
    
        .site-nav > li {
            margin-top: 0;
            margin-right: 20px;
            font-size: 0.46em;
            font-weight: 300;
            letter-spacing: 0.04em;
            padding-right: 2px;
         }
    
         .site-nav > li:hover {
            transform: scale(1.16);
            transition: .3s ease-in-out;
    
         }
    
    
    
         .site-nav > li > a {
            padding: .2em .8em;
            border-radius: .2em;
            background-color: rgba(128, 128, 128, 0.645);
            color: whitesmoke;
            text-shadow: 0 0.08em 0.08em black;
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
         }


         

         /*Codigo de Pc*/


         input {
            width: 50%; 
            margin-left: 180px;
         }
 

         .info-fill { 
            border-radius: 20px;
            width: 50%;
            
         }

         textarea{
            width: 50%;
            margin-left: 180px; 
            border: 1px solid black;
            border-radius: 5px;
        }

        .button { 
            width: 50%;
            
        }

        .info-contacto {
            width: 60%;
            margin: auto;
            margin-bottom: 30px;
            border-radius: 10px;
            border: 1px solid black;
            margin-top: 32px;
        }

        .footer-contenedor {
            margin-top: 10px;
            
        }

        h2{
            
            font-size: 25px;
            
        }
        
      
    




        
    }
    
    