/*
                            ESTILOS GENERALES
*/
:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

*{
    margin: 0px;
    padding: 0px;
       
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagenes/Fondo3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }

    .emblema-contenedor {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    .emblema {
        width: 280px;
        height: 140px;
        border-radius: 5px;
        margin: auto;
    }
      
    .emblema img {
        width: 100%;
        height: 100%;
        
    }
    ul {
        width: 100%;
        margin-top: 38px;
        margin-bottom: 20px;
        text-align: center;
    }

    li {
        list-style: none;
        line-height: 52px;
    }

    a {
        font-size: 2.6em;
        font-weight: bold;
        text-decoration: none;
        color:aliceblue;
        background-color: rgba(128, 128, 128, 0.645);
        text-shadow: 0 0.08em 0.08em black;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
    }
    /* video del index */
    .video-contenedor {
        width: 100%;
        height: 100%;
    }

    .video {
        position: relative;
        padding-top: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
        
    .video iframe,
    .video object,
    .video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* video del anexo 24 */
    .video-contenedor-a24 {
        width: 100%;
        height: 100%;
    }

    .video-a24 {
        position: relative;
        padding-top: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
        
    .video-a24 iframe,
    .video-a24 object,
    .video-a24 embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

   /* consultoria o servicios 24 */

   #pmain { 
    background-color: rgba(128, 128, 128, 0.645);
    color:white;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0.08em 0.08em black;
    margin-bottom: 10.5px;
    border: 1px solid black;
    border-radius: 5px;
    
    } 


    .tile-row {
        color:white;
        background-color: rgba(128, 128, 128, 0.645);
        
        
    }
    .tile {
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 3px;
    }
    
    h4 {
        font-size: 20px;
        text-align: center;
        text-shadow: 0 0.08em 0.08em black;
        margin-top: 10px;
    } 

    .tile p {
        font-size: 14.5px; 
        text-align: center;
        margin-top:10.5px;
        
        
    }

     

    .footer-contenedor {
        margin-top: 30px;
        text-align: center;
        
    }

    h2 {
        font-size: 16px;
        color: aliceblue;
        background-color: rgba(128, 128, 128, 0.645);
        text-shadow: 0 0.08em 0.08em black;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
        
    }



    .footer-contenedor {
        margin-top: 30px;
        text-align: center;
        
    }

    h2 {
        font-size: 16px;
        color: aliceblue;
        background-color: rgba(128, 128, 128, 0.645);
        text-shadow: 0 0.08em 0.08em black;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
        
    }

       
/* RESPONSIVE DISIGN */
    
@media only screen and (min-width: 800px){
    
    .emblema-contenedor {
        width: 100%;
        margin-top: 14px;
    }

    .emblema {
        width: 270px;
        height: 150px;
        border-radius: 5px;
        margin-left: 100px;
    }

    .nav {
        width: 100%;
    }

    .site-nav {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        width: 100%;
        margin-top: 0;
        margin-bottom: 26px;
    }

    .site-nav > li {
        margin-top: 0;
        margin-right: 20px;
        font-size: 0.46em;
        font-weight: 300;
        letter-spacing: 0.04em;
        padding-right: 2px;
     }

     .site-nav > li:hover {
        transform: scale(1.16);
        transition: .3s ease-in-out;

     }

     .site-nav > li > a {
        padding: .2em .8em;
        border-radius: .2em;
        background-color: rgba(128, 128, 128, 0.645);
        color: whitesmoke;
        text-shadow: 0 0.08em 0.08em black;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
     }

     /* video del index */
     .video-contenedor {
        width: 60%;
        margin: auto;
    }

    /* video del anexo 24 */
    .video-contenedor-a24 {
        width: 60%;
        margin: auto;
    }
    .tile-row {
        display: flex;
        background-color: transparent;
        margin-bottom: 6.5em;
        
        
     }

     #pmain {
        border-radius: 5px;
        border: 1.5px solid black;
        margin-bottom: 70px;
        margin-right: 10px;
        margin-left: 460px;
        font-size: 26px;
        width: 40%;
        

     }

     .tile {
        border-radius: 5px ;
        border: 1.5px solid black;
        background-color: rgba(128, 128, 128, 0.645);
        margin-right: 10px;
        margin-left: 10px;
        width: 100%;
        
     }



    .footer-contenedor {
        margin-top: 10px;
        
    }

}

